body {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
}

a:link,
a:visited,
a:hover,
a:active {
  color: green;
  text-decoration: none;
}

a:hover {
  color: blue;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
}

.twitter-logo {
  width: 25px;
  height: 25px;
}

.micro-app {
  margin: 50px 0 50px 0;
  display: block;
}
